POSTGRES_USER=schoolmanager
POSTGRES_PASSWORD=changeme
PG_SERVERNAME=schoolmanager-db
PG_SERVERPORT=5432
POSTGRES_DB=schoolmanager_db

io.mxmn.schoolmanager.db.username=${POSTGRES_USER}
io.mxmn.schoolmanager.db.password=${POSTGRES_PASSWORD}
io.mxmn.schoolmanager.db.host=${PG_SERVERNAME}
io.mxmn.schoolmanager.db.port=${PG_SERVERPORT}
io.mxmn.schoolmanager.db.name=${POSTGRES_DB}

APP_DATA=./output/app
APP_DATABASE_DATA=${APP_DATA}/database